@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h2> Hey its @Model.Time right now on the server but its 5 o'clock somewhere!!!  </h2>
    
</div>

  
